
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    
}

/* header*/
header {
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.2rem;
}
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

        nav li {
            margin: 0 0.6rem;
            position: relative;
        }

            nav a {
                color: var(--text-color);
                text-decoration: none;
                font-size: 0.9rem;
                transition: color 0.3s;
            }

                nav a:hover {
                    color: var(--hover-color);
                }

.log {
    display: flex;
    align-items: center;
}

    .logo {
        height: 60px;
        margin-right: 0.6rem;
    }

        .star {
            font-size: 1.2rem;
            font-family: 'Playfair', serif;
            color: var(--text-color);
        }


/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white);
    list-style: none;
    padding: 5px 0;
    width: 15vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .dropdown:hover .dropdown-menu {
        display: block;
    }

        .dropdown-menu li {
            padding: 0.7rem;
            text-align: center;
        }

/* Panier */
.panier {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .panier a {
        display: flex;
        align-items: center;
        gap: 5px;
    }

        .fa-user, .fa-cart-shopping {
            font-size: 1.2rem;
        }

/* Hero Section */
.hero-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: 80px; 
}

    .hero-container video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

        .hero-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: var(--white);
            background: rgba(0, 0, 0, 0.5);
            padding: 1.2rem;
            border-radius: 6px;
            max-width: 80%;
        }

            .hero-content h2 {
                font-size: 2rem;
                font-weight: 200;
                margin-bottom: 1rem;
            }

                .hero-content p {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    font-weight: 200;
                }

                    .hero-buttons {
                        display: flex;
                        justify-content: center;
                        gap: 15px;
                        flex-wrap: wrap;
                    }
.btn {
    display: inline-block;
    padding: 0.7rem 1.3rem;
    font-size: 14px;
    border-radius: 4px;
    transition: transform 0.2s;
    text-decoration: none;
    cursor: pointer;
}

    .btn-primary {
        background-color: var(--secondary-color);
        color: var(--white);
    }

        .btn-secondary {
            background-color: var(--primary-color);
            color: var(--white);
        }

            .btn:hover {
                transform: scale(1.05);
            }

/*products sect*/
.produits {
    padding: 3.2rem 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .produits h2 {
        font-family: 'Playfair', serif;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2rem;
        width: 100%;
    }

        .produits-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
        }

            .produit-card {
                background: var(--white);
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s;
            }

                .produit-card:hover {
                    transform: translateY(-5px);
                }

                    .produit-card img {
                        width: auto;
                        height: 400px;
                    }

                        .produit-card h3 {
                            margin: 1rem 0 0.3rem;
                            font-size: 1.1rem;
                            font-weight: 250;
                        }

                            .prix {
                                color: var(--secondary-color);
                                font-weight: 200;
                                margin-bottom: 1rem;
                            }

.add-cart {
    background: var(--primary-color);
    color: var(--l-bg);
    border: none;
    padding: 0.7rem 1.3rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    width: 80%;
}

    .add-cart:hover {
        background: var(--secondary-color);
    }

/* Bestsellers section */
.bestsellers {
    background-color: var(--l-bg);
    padding: 3.2rem 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bestsellers h2 {
    font-family: 'Playfair', serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    width: 100%;
}

/*newsleter*/
.newsletter {
    background: #696861;
    color: var(--white);
    padding: 3.2rem 1.2rem;
    text-align: center;
}

    .newsletter-content {
        max-width: 600px;
        margin: 0 auto;
    }

        .newsletter h2 {
            font-family: 'Playfair', serif;
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }

            .newsletter p {
                margin-bottom: 1.7rem;
                font-size: 1rem;
                font-weight: 250;
            }

                .newsletter-form {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;
                }

                    .newsletter-form input {
                        padding: 0.8rem 1rem;
                        border: none;
                        border-radius: 4px;
                        flex: 1;
                        min-width: 250px;
                        font-size: 1rem;
                    }

                        .newsletter-form button {
                            padding: 0.8rem 1.5rem;
                        }

.burger {
  display: none; 
  cursor: pointer;
  z-index: 1001;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0.5rem;
  transition: transform 0.3s ease;
}
.burger.active i.fa-bars {
  display: none;
}
.burger.active::after {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.5rem;
}

/* mobile */
@media (max-width: 768px) {
  .burger {
    display: block;
  }
  
  nav ul {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--white);
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav ul.active {
    display: flex;
  }
  nav li {
    margin: 0.5rem 0;
    text-align: center;
  }
  .dropdown-menu {
    position: static;
    width: 100%;
    box-shadow: none;
    display: none;
    padding: 0;
  }
  .dropdown:hover .dropdown-menu {
    display: none; 
  }
  .dropdown-menu.show {
    display: block;
  }
}