/* ============ VARIABLES ============ */
:root {
    --primary-color: #333;
    --secondary-color: #ff9800;
    --hover-color: #e65100;
    --text-color: #333;
    --l-bg: #f9f9f9;
    --white: #fff;
}