/* couleurs*/
:root {
    --color-hover: #ff9800;
    --footer-btn: #555;
    --color-primary: #ff9800;
    --color-secondary: #333;
    /*typo*/
    --typo-main: 'Playfair', serif;
    /*size*/
    --btn-padding: 12px 20px;
    /* breakpoints*/
    --medium-size: 768px;
    --large-size: 962px;
}
